<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- ================================== SETTING =================================== -->

	<!-- DataSource (can switch to jndi) -->
	<!--<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/cosmos"/>-->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		lazy-init="false">
		
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/cosmos" />
		<property name="username" value="integrat" />
		<property name="password" value="test99a" />
		<property name="maxActive" value="10000"/>
		<property name="maxWait" value="10000"/>
		<property name="validationQuery" value="select 1"/>
		<property name="timeBetweenEvictionRunsMillis" value="12000"/>
		<property name="minEvictableIdleTimeMillis" value="18000"/>
	    <property name="poolPreparedStatements" value="true"/>
 	</bean>

	<!-- Hibernate Session Factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		lazy-init="false">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<!-- Contains all named queries -->
				<value>
					dao/hibernate/mapping/named-queries.hbm.xml
				</value>

				<!-- Domain models -->
				<value>dao/hibernate/mapping/ClusterRep.hbm.xml</value>
				<value>dao/hibernate/mapping/Planetoid.hbm.xml</value>
				<value>
					dao/hibernate/mapping/PlanetoidAtmosphere.hbm.xml
				</value>
				<value>
					dao/hibernate/mapping/PlanetoidRep.hbm.xml
				</value>
				<value>dao/hibernate/mapping/StarRep.hbm.xml</value>
				<value>dao/hibernate/mapping/SystemRep.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.show_sql=false
				hibernate.connection.release_mode=auto
			</value>
		</property>
	</bean>


	<!-- ==================================== DAO ===================================== -->
	<bean id="starsAvecPlanetsFundDAO" lazy-init="false"
		class="com.zenred.data_access.StarsAvecPlanetsFundDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="starsFundDAO" lazy-init="false"
		class="com.zenred.data_access.StarsFundDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="clusterRepDAO" lazy-init="false"
		class="com.zenred.data_access.ClusterRepDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="starRepDAO" lazy-init="false"
		class="com.zenred.data_access.StarRepDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="systemRepDAO" lazy-init="false"
		class="com.zenred.data_access.SystemRepDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="planetoidDAO" lazy-init="false"
		class="com.zenred.data_access.PlanetoidDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="planetoidRepDAO" lazy-init="false"
		class="com.zenred.data_access.PlanetoidRepDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="planetoidAtmosphereRepDAO" lazy-init="false"
		class="com.zenred.data_access.PlanetoidAtmosphereRepDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="generateAtmosphere" lazy-init="false"
		class="com.zenred.service.GenerateAtmosphere">
		<property name="ruleFile" value="/Atmosphere.drl" />
		<property name="ruleFile2" value="/Atmosphere2.drl" />
		<property name="YELO_MAINS_drl" value="/YELO_MAINS.drl" />
		<property name="BLUE_SG_II_drl" value="/BLUE_SG_II.drl" />
		<property name="LTBL_SG_II_drl" value="/LTBL_SG_II.drl" />
		<property name="WHIT_SG_II_drl" value="/WHIT_SG_II.drl" />
		<property name="PYEL_SG_II_drl" value="/PYEL_SG_II.drl" />
		<property name="YELO_SG_II_drl" value="/YELO_SG_II.drl" />
		<property name="ORNG_SG_II_drl" value="/ORNG_SG_II.drl" />
		<property name="RED__SG_II_drl" value="/RED__SG_II.drl" />
		<property name="BLUE_SG_I_drl" value="/BLUE_SG_I.drl" />
		<property name="LTBL_SG_I_drl" value="/LTBL_SG_I.drl" />
		<property name="WHIT_SG_I_drl" value="/WHIT_SG_I.drl" />
		<property name="PYEL_SG_I_drl" value="/PYEL_SG_I.drl" />
		<property name="YELO_SG_I_drl" value="/YELO_SG_I.drl" />
		<property name="ORNG_SG_I_drl" value="/ORNG_SG_I.drl" />
		<property name="RED__SG_I_drl" value="/RED__SG_I.drl" />
		<property name="BLUE_GI_II_drl" value="/BLUE_GI_II.drl" />
		<property name="LTBL_GI_II_drl" value="/LTBL_GI_II.drl" />
		<property name="WHIT_GI_II_drl" value="/WHIT_GI_II.drl" />
		<property name="PYEL_GI_II_drl" value="/PYEL_GI_II.drl" />
		<property name="YELO_GI_II_drl" value="/YELO_GI_II.drl" />
		<property name="ORNG_GI_II_drl" value="/ORNG_GI_II.drl" />
		<property name="RED__GI_II_drl" value="/RED__GI_II.drl" />
		<property name="BLUE_GI_I_drl" value="/BLUE_GI_I.drl" />
		<property name="LTBL_GI_I_drl" value="/LTBL_GI_I.drl" />
		<property name="WHIT_GI_I_drl" value="/WHIT_GI_I.drl" />
		<property name="PYEL_GI_I_drl" value="/PYEL_GI_I.drl" />
		<property name="YELO_GI_I_drl" value="/YELO_GI_I.drl" />
		<property name="ORNG_GI_I_drl" value="/ORNG_GI_I.drl" />
		<property name="RED__GI_I_drl" value="/RED__GI_I.drl" />
		<property name="BLUE_SUBGI_drl" value="/BLUE_SUBGI.drl" />
		<property name="LTBL_SUBGI_drl" value="/LTBL_SUBGI.drl" />
		<property name="WHIT_SUBGI_drl" value="/WHIT_SUBGI.drl" />
		<property name="PYEL_SUBGI_drl" value="/PYEL_SUBGI.drl" />
		<property name="YELO_SUBGI_drl" value="/YELO_SUBGI.drl" />
		<property name="ORNG_SUBGI_drl" value="/ORNG_SUBGI.drl" />
		<property name="RED__SUBGI_drl" value="/RED__SUBGI.drl" />
		<property name="BLUE_MAINS_drl" value="/BLUE_MAINS.drl" />
		<property name="LTBL_MAINS_drl" value="/LTBL_MAINS.drl" />
		<property name="WHIT_MAINS_drl" value="/WHIT_MAINS.drl" />
		<property name="PYEL_MAINS_drl" value="/PYEL_MAINS.drl" />
		<property name="ORNG_MAINS_drl" value="/ORNG_MAINS.drl" />
		<property name="RED__MAINS_drl" value="/RED__MAINS.drl" />
		<property name="BLUE_SUBDW_drl" value="/BLUE_SUBDW.drl" />
		<property name="LTBL_SUBDW_drl" value="/LTBL_SUBDW.drl" />
		<property name="WHIT_SUBDW_drl" value="/WHIT_SUBDW.drl" />
		<property name="PYEL_SUBDW_drl" value="/PYEL_SUBDW.drl" />
		<property name="YELO_SUBDW_drl" value="/YELO_SUBDW.drl" />
		<property name="ORNG_SUBDW_drl" value="/ORNG_SUBDW.drl" />
		<property name="RED__SUBDW_drl" value="/RED__SUBDW.drl" />
		<property name="BLUE_DWARF_drl" value="/BLUE_DWARF.drl" />
		<property name="LTBL_DWARF_drl" value="/LTBL_DWARF.drl" />
		<property name="WHIT_DWARF_drl" value="/WHIT_DWARF.drl" />
		<property name="PYEL_DWARF_drl" value="/PYEL_DWARF.drl" />
		<property name="YELO_DWARF_drl" value="/YELO_DWARF.drl" />
		<property name="ORNG_DWARF_drl" value="/ORNG_DWARF.drl" />
		<property name="RED__DWARF_drl" value="/RED__DWARF.drl" />
		<property name="PURPLE_RED_drl" value="/PURPLE_RED.drl" />
		<property name="BROWN_SUBS_drl" value="/BROWN_SUBS.drl" />

	</bean>

</beans>